__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.sqlite
paper_db/
.vscode/
venv/
.venv/
dist/
build/
*.egg-info/
.DS_Store
Thumbs.db
logs/
.python-version
.cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.dockerignore
.idea/
*.log
*.tmp
*.swp
*.bak
*.old
*.zip
*.tar
*.gz
*.pdf
*.faiss
*.index
*.db
*.parquet # Ignore data formats
*.csv # Ignore data formats

node_modules/ # Node dependencies
.env
.streamlit/secrets.toml
