fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-huggingface
langchain-groq
langchain-openai
langchain-classic
langchain-text-splitters
langgraph
faiss-cpu
sentence-transformers
huggingface-hub
pypdf
python-dotenv
arxiv
requests
rank-bm25
