fastapi
uvicorn
streamlit==1.56.0
python-multipart
langchain-core
langchain-community
langchain-huggingface
langchain-groq
langchain-openai
langchain-classic
langgraph
torch
faiss-cpu
sentence-transformers
huggingface-hub
pypdf
python-dotenv
arxiv
requests
rank-bm25
